.c-container__card{
    display: flex;
    justify-content: left;
    @include response(s){
        padding: 0 5px;
        box-sizing: border-box;
    }
    &--list{
        flex-wrap: wrap;
        gap: 10px;
        @include response(s){
            gap: 5px;
        }
    }
    &--smypage{
        width: fit-content;
        white-space: nowrap;
    }
}

.c-card{
    background-color: #fff;
    padding: 0;
    border-radius: 5px;
    &__col4{
        flex: 1 1 calc(25% - 10px);
        @include response(s){
            width: calc(50% - 5px);
        }
    }
    &__smypage{
        width: 250px;
    }
    &-img{
        width: 100%;
        aspect-ratio: 4/3;
        overflow: hidden;
        border-radius: 5px 5px 0 0;
        img{
            max-width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
    &-p{
        @include response(s){
            font-size: $font-size-ss;
        }

    }
    &-content{
        padding: 10px;
        @include response(s){
            padding: 5px;
        }
    }
    &-title{
        margin-bottom: 5px;
    }
    &-text{
        margin: 3px;
    }

}
