.c-pagination{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    width: 60%;
    margin: 0 auto;
    @include response(s){
        width: 100%;
    }
    a{
        color: #000;
        text-decoration: none;
    }
    &__active{
        color: $main-color;
        font-weight: bold;
    }
}
