.o-content{
    &-box{
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-title{
    font-size: $font-size-lm;
    color: $main-color;
    padding-left: 10px;
    border-left: solid 5px $main-color;
    }
}

.o-link{
    color: $main-color;
    text-decoration: none;
    font-size: $font-size-m;
}

.o-next{
    &__btn-box{
        text-align: center;
        padding: 15px 0;
    }
    &__btn{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

}
.o-share__btn{
    display: inline-block;
    margin-right: 20px;
}

