.p-pdetail{
    &__content{
        width: 970px;
        display: flex;
        justify-content: space-around;
        @include response(s){
            width: 100%;
            display: block;
        }
    }
    &__img{
        width: 500px;
        @include response(s){
            width: 100%;
            margin-bottom: 15px
        }
        img{
            max-width: 100%;
            aspect-ratio: 4/3;
            height: auto;
        }
    }
    &__productName{
        font-size: $font-size-ll;
        margin-bottom: 40px;
        @include response(s){
            font-size: $font-size-lm;
            margin-bottom: 10px;
        }
    }
    &__disprice{
        font-size: $font-size-ll;
        color: $main-color;
        @include response(s){
            font-size: $font-size-lm;
        }
    }
    &__text{
        font-size: $font-size-lm;
        margin-bottom: 30px;
        @include response(s){
            font-size: $font-size-m;
            margin-bottom: 5px;
        }
    }

}
