.p-ssignup{
    &__shopImg{
        width: 100%;
        margin-bottom: 20px;
    }
    &__form{
        display: flex;
        justify-content: space-between;
    }
    &__container--left, &__container--right{
        width: 45%;
    }
}
